<section>


<header>
    <h2> @HUSHPUPPIESCO</h2>
</header>
<div class="body"  fxLayout="row"  fxLayout.xs="column"  fxLayoutGap="32px">
    


    <div fxFlex="25" >
        <ul>
            <li class="titulo"> <a href="#" > SERVICIO AL CLIENTE </a> </li>
            <li> <a href="#"> CONTÁCTEMOS </a> </li>
            <li> <a href="#"> CAMBIOS Y DEVOLUCIONES </a> </li>
            <li> <a href="#"> PILÍTICA DE DATOS </a> </li>
        </ul>
    </div>
    <div fxFlex="25" >
        <ul>
            <li class="titulo"> <a href="#" > MI CUENTA </a> </li>
            <li > <a href="#" > MIS PEDIDOS </a> </li>
            <li> <a href="#"> MIS DEVOLUCIONES </a> </li>
        </ul>
    </div>
    <div fxFlex="25" >
        <ul>
            <li class="titulo"> <a href="#" > TIENDA </a> </li>
            <li> <a href="#"> DEVOLUCIONES </a> </li>
        </ul>
    </div>
    <div fxFlex="25" >
        <ul>
            <li class="titulo"> <a href="#" > NEWSLETTER </a> </li>
            <li> <a href="#"> REGÍSTRATE PARA SER EL PRIMERO EN RECIBIR NOTIFICACIONES </a> </li>
            <mat-form-field >
                <mat-label>Buscar</mat-label>
                <input  matInput placeholder="Buscar">
                <mat-icon matSuffix>navigate_next</mat-icon>
            </mat-form-field>
        </ul>
    </div>

</div>
</section>