.body{
    padding: 30px 50px;
}
header{
    margin-top: 50px;
    width: 100%;
    height: 160px;
    background: rgb(236, 232, 232);
    font-style: italic;
    display: flex;
    font-size: 45;
    align-items: center;
    justify-content: center;
    h2{
        margin:0;
        padding: 0;
    }
}

li{
    margin: 5px;
    a{

        color: #000;
    }
}
.titulo{
    margin-bottom: 10px;
    font-weight: bold;
}